@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
}

button, .book{
  font-family: "Rubik", system-ui;
  font-weight: 400;
  font-style: normal;
}

input{
  font-family: "Rubik", system-ui;
  font-weight: 400;
  font-size: large;
}

  