body {
    color: #66FCF1;
    background: linear-gradient(to bottom right, #0B0C10, #1F2833);
    min-height: 100vh;
    width: 100%;

}

.generic-btn{
    color: #C5C6C7;
    border: 2px solid #66FCF1;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

}

.header {
    display: flex;
    justify-content: space-between;

    height: 150px;
    font-size: 2rem;
    padding: 40px;
    z-index: 0;
}

.left {
    height: fit-content;

    display: flex;
    align-items: center;
}

.menu {
    font-size: 1rem;
    padding-left: 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 230px);
    display: flex;
    justify-content: center;
    z-index: 0;
    padding-bottom: 15px;
    gap: 40px;
}

.book-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

#openForm {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: x-large;
    width: 300px;
    height: 100px;
    padding: 30px;
}

#openForm:hover {
    background-color: #66FCF1;
    color: #0B0C10;
    border-color: #66FCF1;
}

#overlay {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.inner-overlay {
    background: linear-gradient(to bottom right, #0B0C10, #1F2833);
    width: 30%;
    min-height: 50%;
    padding: 30px;
    border: 2px solid #66FCF1;
}

#formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#formContainer>* {}

h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #66FCF1;
}

input,
select {
    width: 75%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #C5C6C7;
    border-bottom: 1px solid #66FCF1;
}

input:focus,
select:focus {
    outline: none;
}


.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #C5C6C7;
    text-decoration: none;

}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: x-large;
    background-color: #1F2833;
    color: #C5C6C7;
    border: 2px solid #66FCF1;
    width: 350px;
    height: 250px;
    padding: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    position: relative;
}

hr{
    width: 200px;
}

.read-status-btn, .remove-btn{

    position: absolute;
    width: 150px;
    height: 40px;
    font-size: x-large;
    background-color: transparent;
    flex-grow: 0;
    flex-shrink: 0;
    bottom: 20px; /* Adjust as needed */
    left: 20px;
    margin-top: auto; /* Stick to the bottom */
}
.remove-btn{
    left: auto;
    right: 20px;
}

.submit, .cancel{
    width: 100px;
    height: 50px;
}

.accent-text {
    color: #66FCF1;
}

a:visited{
    color: #66FCF1;
}
  